@mixin eventColor($color) {
  .event__date {
    background: $color;
  }
}
.event {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background-color: white;
  margin: 0 10px $space-m;

  @media only screen and (min-width: $tablet) {
    margin-left: 5%;
    margin-right: 5%;
  }

  @include eventColor($cdp-green);

  &:nth-of-type(4n+2) {
    @include eventColor($cdp-orange);
  }

  &:nth-of-type(4n+3) {
    @include eventColor($cdp-blue);
  }

  &:nth-of-type(4n+4) {
    @include eventColor($cdp-pink);
  }

  .lyric__trackNumber {
    margin-right: 10px;
  }
}

.event__heading {
  font-size: 2.8rem;
  margin: 0 10px 12px;
  @media only screen and (min-width: $tablet) {
    margin: 0 5%;
  }
}

.event__section {
  &--future {
    margin-bottom: 40px;
  }
}

.event__date {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  word-break: break-word;
  max-width: 75px;
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  padding: $space-l $space-l $space-m;
  margin-right: 10px;
}

.event__information {
  margin-right: 10px;
  flex: 1;
}

.event__tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 10px;
}

.event__tagsItem {
  display: flex;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 2px 4px;
  margin: 0 5px 10px 0;
}

.event__name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.event__address {
  margin-bottom: 10px;
}

.event__links {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.eventIcon {
  position: relative;
  color: #fff;
  background: #000;
  display: block;
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
  font-size: 20px;

  &.fa-facebook-f {
    background: #000;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}