footer{
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 4% 0;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: inherit;
  text-align: inherit;
  line-height: inherit;
  color: grey;
  clear:  both;
}

footer div#left-panel{
  width: 38%;
  padding: 0 1%;
  display: inline-block;
}

footer div#left-panel span{
  font-style: italic;
  display: block;
  width: 100%;
}

footer div#left-panel span#copyright:before{
  font-family: 'FontAwesome';
  content:'\f1f9';
  font-size: 0.9rem;
  margin-right: 0.7%;
  color: grey;
  font-style: normal;
}

footer div#left-panel span#copyright{
  margin-top: 10px;
}

footer div#left-panel span#legal{
  margin-top: 10px;
}

footer div#left-panel span#legal a{
  padding: 0;
}

footer div#left-panel span#legal a img{
  width: 70px;
  position: absolute;
}

footer div#right-panel{
  text-align: right;
  width: 58%;
  padding: 0 1%;
  display: inline-block;
  float: right;
}

footer div#right-panel ul#footer-nav{
  list-style-type: none;
  display: block;
  position: relative;
  width: 100%;
}

footer div#right-panel	ul#footer-nav li{
  position: relative;
  display: inline-block;
}

footer div#right-panel ul#footer-nav li a{
  text-transform: uppercase;
  font-family: $primaryFont;
  font-weight: 300;
}

footer div#right-panel ul#footer-nav li a:before{
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid;
  font-family: Font Awesome\ 5 Brands, Font Awesome\ 5 Free;
}

footer div#right-panel ul#footer-nav li a.fa-facebook-f{
  color: $fb-blue;
  border-color: $fb-blue;
  background-color: transparent;
}

footer div#right-panel ul#footer-nav li a.fa-soundcloud{
  color: $sc-orange;
  border-color: $sc-orange;
  background-color: transparent;
}

@media only screen and (max-width: 660px) {
  footer div#left-panel{
    width: 100%;
    text-align: center;
  }

  footer div#left-panel span#legal a img {
    display: block;
    margin: 0 auto;
    position: relative !important;
  }

  footer div#right-panel{
    width: 100%;
    text-align: center;
  }

  footer div#right-panel ul#footer-nav{
    display: inline-block;
    width: auto;
    position: relative;
    margin: 20px 0;
  }

  footer div#right-panel ul#footer-nav li{
    width: 40px;
  }

  footer div#right-panel ul#footer-nav li a{
    visibility: hidden;
    width: 0;
    padding: 0;
    position: absolute;
  }

  footer div#right-panel ul#footer-nav li a:before{
    visibility: visible;
    border: none;
    padding: 12px 12px;
    position: relative;
    right: 20px;
  }

  footer div#right-panel ul#footer-nav li a.tpink:before{
    background-color: $cdp-pink;
    color: white;
  }

  footer div#right-panel ul#footer-nav li a.tgreen:before{
    background-color: $cdp-green;
    color: white;
  }

  footer div#right-panel ul#footer-nav li a.torange:before{
    background-color: $cdp-orange;
    color: white;
  }

  footer div#right-panel ul#footer-nav li a.tblue:before{
    background-color: $cdp-blue;
    color: white;
  }

  footer div#right-panel ul#footer-nav li a.fa-facebook-f:before{
    background-color: $fb-blue;
    color: white;
    padding:  12px 16px;
  }

  footer div#right-panel ul#footer-nav li a.fa-soundcloud:before{
    background-color: $sc-orange;
    color: white;
    padding:  12px 10px;
  }
}