#global-container.home{
  margin-top: 0;
}

.home__title {
  position: absolute;
  top: 2%;
  left: 3%;
  margin: 0;
  padding: 1% 5% 0 5%;
  background: url('css/images/transpBlack25.png') center center repeat;
}

.home__nameImage {
  width: 310px;
}