.fa.navigation__mobileBtn {
  border: none;
  background: none;

  @media only screen and (min-width: $tablet) {
    display: none;
  }
}

.navigation {
  position: relative;
  background: url('css/images/bandeau-titre_900.png') $grey-100 center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: stretch;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $grey-900;
    padding: 5px 10px;
    font-size: 2rem;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.75);
      color: $grey-100;
    }
  }
}

.navigation__logo {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.closeMobileMenu {
  position: absolute;
  top: 10px;
  right: 10px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.mainNavigation {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: calc(100vw - 20px);
  overflow: auto;
  background: $grey-100;
  padding: 20px 10px;

  @media only screen and (min-width: $tablet) {
    overflow: visible;
    position: static;
    padding: 0;
    display: block !important; // surcharge JS
    background: transparent;
    height: auto;
    width: auto;
  }

  .menu {
    @media only screen and (min-width: $tablet) {
      display: flex;
    }
  }

  li {
    @media only screen and (min-width: $tablet) {
      display: flex;
      align-items: stretch;
    }
  }
}

.mainNavigationList {
  @media only screen and (min-width: $tablet) {
    display: flex;
    align-items: stretch;
  }
}

.mainNavigation {
  .sub-menu {
    padding-left: 20px;

    @media only screen and (min-width: $tablet) {
      display: none;

      position: absolute;
      top: 100%;
      background: #fff;
      z-index: 1;

      padding-left: 0;

      .menu-item {
        min-width: 250px;
        display: block;
      }
    }
  }

  li[aria-haspopup="true"] {
    position: relative;
  }

  li[aria-expanded="true"] {
    .sub-menu {
      display: block;

    }
  }
}
