$cdp-blue: #014fff;
$cdp-orange: #ea7700;
$cdp-green: #8fc43c;
$cdp-pink: #e7308f;

$fb-blue: #3b5998;
$sc-orange: #ff7700;

$grey-100: #fffcf6;

$primaryFont: 'ITC Avant Garde Gothic Std', helvetica, sans-serif;
